.label, .valueLineLabel {
    font: 14px sans-serif;
}
.axisLabel {
    font: 10px sans-serif;
}
.tick text {
    font: 12px sans-serif;
}

.circle-highlighted {
    stroke-width: 3;
}

#user-guide {
    position: absolute;
    background-color: white;
    padding: 0px 15px 0px 15px;
    border: 1px solid #555;
}
#user-guide-text {
    font: 16px sans-serif;
}

#tooltip-container {
    position: absolute;
    background-color: white;
    padding: 0px 15px 0px 15px;
    display: none;
    border: 1px solid #555;
    overflow-y: auto;
}
#tooltip-text {
    font: 16px sans-serif;
}

#nametag-container {
    position: absolute;
    background-color: white;
    padding: 1px 4px 1px 4px;
    display: none;
    border: 1px solid #555;
    overflow-y: auto;
}
#nametag-text {
    margin: 0px 0px 0px 0px;
    font: 14px sans-serif;
}